@charset "utf-8";

ul,li {
    margin: 0;
    padding: 0;
}

section.content {
    display: none;
}

nav#menu {
    width: 200px;
    position: absolute;
}

div#main {
    padding-left: 230px;
}

nav#menu ul {
    margin: 0;
    padding: 0;
}

nav#menu li {
    border: 1px solid #000;
    margin: 10px 0;
    width: 200px;
}

nav#menu li a {
    display: block;
    padding: 10px;
}

nav#menu li a:hover {
    background: #C00;
}
