@charset "utf-8";

* { /zoom: 1 }

section, nav {
    display: block;
}

ul,li {
    margin: 0;
    padding: 0;
}

section.content {
    margin-bottom: 40px;
    /* display: none; */
}

section.content h2 {
    border-bottom: 3px solid #999;
}

nav#menu {
    width: 200px;
    position: absolute;
}

div#main {
    padding-left: 230px;
}

nav#menu ul {
    margin: 0;
    padding: 0;
}

nav#menu li {
    border: 1px solid #000;
    margin: 10px 0;
    width: 200px;
}

nav#menu li a {
    display: block;
    padding: 10px;
}

nav#menu li a:hover {
    background: #C00;
}

section#pngfix div.bg {
    background: url('../img/sample_bg.jpg') no-repeat;
    margin: 10px 0;
    width: 320px;
    padding: 20px;
}

section#pngfix p.bgpng {
    background: url('../img/sample.png') no-repeat;
    height: 100px;
}

section#positionFixed p.fixed {
    width: 100px;
    height: 20px;
    left: 10px;
    top: 10px;
    border: 1px solid #F00;
}

body.osWin section#addOsClass p {
    background: red;
}

body.osMac section#addOsClass p {
    background: blue;
}
